.movies-type-show-row {
    margin-bottom: 20px;
}

.movies-type {
    color: white !important;
    font-size: 1.2rem;
    font-weight: bold;
}

.movies-show-more-link {
    font-size: 1.2rem;
    font-weight: bold;
}
